.typeahead,
.tt-query,
.tt-hint {
	width: 100%;
	min-width:400px;
  height: 36px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	width:100%;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
tt-highlight{
  color:red;
}
table.typeahead_res{
	font-size:13px;
	width:100%;
}
table.typeahead_res td{
	padding:4px;
	text-align:left;
}
table.typeahead_res img{
	width:50px;
	border-radius:8px;
	border:2px solid #e0e0e0;
}
table.typeahead_res tr:nth-child(1) td{
	width:50px;
}
table.typeahead_res tr:nth-child(2) td{
	color:#606060;
}
table.typeahead_res {
	border-bottom: 1px solid #e0e0e0;
}

span.typeahead_res{
	font-size:13px;
}
span.typeahead_footer{
	font-size:13px;
	padding-left:12px;
	font-weight:bold;
}

/*https://github.com/twitter/typeahead.js/issues/1301*/
.scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

.tt-suggestion{
	cursor:pointer;
}